@import '../../variables.scss';

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-family-primary;
  font-weight: 300;
  background: $color-primary;
  color: $white;
  border: 1px solid transparent;
  transition: $hover-transition;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken($color-primary, 8%);
    box-shadow: $btn-shadow;
  }
}

@mixin button-sm() {
  .Button,
  .btn-group {
    width: 100%;
    text-align: center;
  }
}
