@import '../../variables.scss';

.Thumbnail-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: $padding-1;
  background: $gray-lighter;
  text-align: center;
  border-radius: $border-radius;
  transition: $hover-transition;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
    background: $color-primary;
  }
}

.Thumbnail-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Thumbnail-image {

}

.Thumbnail-link {
  text-decoration: none;
  color: $color-primary;
  transition: $hover-transition;

  &:hover {
    color: darken($color-primary, 20%);
  }
}

.Thumbnail-caption {
  width: 100%;
}

.Thumbnail-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: $font-weight-regular;
}

.Thumbnail-description {
  margin: 0;
}

.Thumbnail-disabled {
  cursor: not-allowed;
}

@mixin Thumbnail-sm() {
  .Thumbnail-container {
    width: 100%;
  }
}
