@import '../../variables.scss';

.SubHeadline {
  margin: 0;
  text-align: center;
  color: $black;
  font-size: $font-size-subheader;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
