@import '../../variables.scss';

.SubHeader {
  margin: 0;
  text-align: center;
  font-size: $font-size-header;
  font-weight: 100;
  color: $gray-7;
  // border-bottom: 4px solid $gray-7;
  // text-transform: uppercase;
}
