@import '../../variables.scss';

.Contact-ContainerPage {
  background: $gray-lighter;
}

.Contact-Hero {
  min-height: 450px;
  background: $color-dark;
}

.Contact-ContainerSection {
  margin-top: $padding-2;
}
